<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CevioAiPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CevioAiPlugin.Properties.Settings>
            <setting name="Cast" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Tone" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ToneScale" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ExitWhenFinished" serializeAs="String">
                <value>False</value>
            </setting>
        </CevioAiPlugin.Properties.Settings>
    </userSettings>
</configuration>